<div class="question-selector">

  <h2>Выберите вопросы</h2>

  <table class="tui-table">
    <tbody>
    <tr>
      <th class="tui-table__th tui-table__th_first">Наименование вопроса</th>
      <th class="tui-table__th">Сложность</th>
      <th class="tui-table__th">Тип</th>
      <th class="tui-table__th">Практ./Теор.</th>
      <th class="tui-table__th tui-table__th_last"></th>
    </tr>
    </tbody>
    <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let question of questions">
      <td class="tui-table__td tui-table__td_first">{{ question.questionName }}</td>
      <td class="tui-table__td">{{ question.difficulty }}</td>
      <td class="tui-table__td">{{ question.answersType }}</td>
      <td class="tui-table__td">{{ question.questionType }}</td>
      <td class="tui-table__td tui-table__td_last">
        <button type="button" (click)="toggleQuestionSelection(question)">Добавить</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

