<div class="overlay" *ngIf="isVisible">

  <div class="overlay-content">

    <div class="main-container">

      <div class="container">
        <h1 class="tui-text_h3 title">
          Генерация теста
        </h1>
      </div>

      <div class="container">
        <tui-stepper [activeItemIndex]="0">
          <button disabled tuiStep>Название</button>
          <button disabled tuiStep>Описание</button>
          <button disabled tuiStep>Сложность</button>
          <button disabled tuiStep>Практ./Теор.</button>
          <button disabled tuiStep>Тема</button>
          <button disabled tuiStep>Количество вопросов</button>
        </tui-stepper>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="two-column-container">

          <div>

            <div class="container">
              <label for="questionTitle" class="label">Название теста</label>
              <tui-input id="questionTitle" class="input" formControlName="testTitle" placeholder="Введите название" aria-label="Введите название теста" />
            </div>

            <div class="container">
              <label for="questionDescription" class="label">Описание теста</label>
              <tui-textarea id="questionDescription" class="input" formControlName="testDescription" placeholder="Введите постановку вопроса" aria-label="Описнаие теста" />
            </div>

            <div class="container">
              <label>Диапазон сложности:</label>
              <input type="range" formControlName="minDifficulty" min="1" max="5" step="1">
              <input type="range" formControlName="maxDifficulty" min="1" max="5" step="1">
              <div class="slider-labels">
                <span *ngFor="let value of difficultyValues">{{ value }}</span>
              </div>
            </div>

            <div class="container">
              <label>Процент теории/практики:</label>
              <input type="range" formControlName="theoryPercentage" min="0" max="100" step="10">
              <div class="slider-labels">
                <span *ngFor="let value of percentageValues">{{ value }}%</span>
              </div>
            </div>

            <div class="container">
              <label>Тема:</label>
              <input type="text" formControlName="theme">
            </div>

            <div class="container">
              <label>Количество вопросов:</label>
              <input type="number" formControlName="questionCount" min="1">
            </div>

          </div>

          <div>

            <div class="container">
              <div class="question-selector">
                <h2>Выбранные вопросы</h2>
                <table class="tui-table">
                  <tbody>
                  <tr>
                    <th class="tui-table__th tui-table__th_first">Наименование вопроса</th>
                    <th class="tui-table__th">Сложность</th>
                    <th class="tui-table__th">Тип</th>
                    <th class="tui-table__th">Практ./Теор.</th>
                    <th class="tui-table__th tui-table__th_last"></th>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let question of filteredQuestions">
                    <td class="tui-table__td tui-table__td_first">{{ question.questionName }}</td>
                    <td class="tui-table__td">{{ question.difficulty }}</td>
                    <td class="tui-table__td">{{ question.answersType }}</td>
                    <td class="tui-table__td">{{ question.questionType }}</td>
                    <td class="tui-table__td tui-table__td_last">
                      <button (click)="removeQuestion(question)">Убрать вопрос</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div *ngIf="errorMessage">
              <p>{{ errorMessage }}</p>
            </div>

            <div *ngIf="!errorMessage">
              <h3>Средняя сложность - {{averageDifficulty}}</h3>
              <h3>Количество теоретических вопрсов - {{requiredTheoryCount}}</h3>
              <h3>Количество практических вопросов - {{requiredPracticalCount}}</h3>
            </div>

          </div>

        </div>

          <div class="form-actions">
            <div class="bottom-container">
              <button type="button" tuiButton (click)="closeOverlay()">Отмена</button>
              <button type="button" tuiButton (click)="filterQuestions()">Подобрать вопросы</button>
              <button type="button" tuiButton (click)="onSubmit()">Добавить тест</button>
            </div>
          </div>

      </form>

    </div>

  </div>

</div>
