<div class="overlay" *ngIf="isVisible">

  <div class="overlay-content">

    <div class="main-container">

      <div class="container">
        <h1 class="tui-text_h3 title">
          Подбор набора вопросов
        </h1>
      </div>

      <div class="container">
        <tui-stepper [activeItemIndex]="currentStep">
          <button *ngFor="let step of steps; let i = index" tuiStep (click)="setStep(i)">
            {{ step }}
          </button>
        </tui-stepper>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="container" *ngIf="currentStep === 0">
          <label for="questionTitle" class="label">Название теста</label>
          <tui-input id="questionTitle" class="input" formControlName="testTitle" placeholder="Введите название" aria-label="Введите название теста" />
        </div>

        <div class="container" *ngIf="currentStep === 1">
          <label for="questionDescription" class="label">Описание теста</label>
          <tui-textarea id="questionDescription" class="input" formControlName="testDescription" placeholder="Введите постановку вопроса" aria-label="Описнаие теста" />
        </div>

        <div class="two-column-container" *ngIf="currentStep === 2">

          <div>
            <div class="container" >
              <label>
                <input type="checkbox" formControlName="enableDifficulty"> Диапазон сложности
              </label>
              <tui-input-range
                [formControl]="difficulty"
                [max]="maxDifficulty"
                [min]="minDifficulty"
                [quantum]="difficultyQuantum"
                [steps]="difficultySteps"
                [tuiTextfieldLabelOutside]="true"
                [tuiTextfieldSize]="'s'">
              </tui-input-range>
            </div>

            <div class="container">
              <label>
                <input type="checkbox" formControlName="enableTheoryPercentage"> Процент теории (процент практики = 100 - процент теории)
              </label>
              <tui-input-slider
                [formControl]="theory"
                [max]="maxTheory"
                [min]="minTheory"
                [quantum]="theoryQuantum"
                [steps]="theorySteps"
                [tuiTextfieldSize]="'s'">
              </tui-input-slider>
            </div>

            <div class="container">
              <label>
                <input type="checkbox" formControlName="enableTheme"> Тема
              </label>
              <tui-input formControlName="theme"></tui-input>
            </div>

            <div class="container">
              <label>
                <input type="checkbox" formControlName="enableQuestionCount"> Количество вопросов
              </label>
              <tui-input-number formControlName="questionCount" [min]="1" [max]="questions.length" ></tui-input-number>
            </div>
          </div>

          <div>

            <div class="container">
              <div class="question-selector">
                <h2>Выбранные вопросы</h2>
                <tui-scrollbar class="box">
                  <table class="tui-table">
                    <tbody>
                    <tr>
                      <th class="tui-table__th tui-table__th_first">Наименование вопроса</th>
                      <th class="tui-table__th">Сложность</th>
                      <th class="tui-table__th">Тип</th>
                      <th class="tui-table__th">Практ./Теор.</th>
                      <th class="tui-table__th tui-table__th_last"></th>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let question of filteredQuestions">
                      <td class="tui-table__td tui-table__td_first">{{ question.questionName }}</td>
                      <td class="tui-table__td">{{ question.difficulty }}</td>
                      <td class="tui-table__td">{{ question.answersType }}</td>
                      <td class="tui-table__td">{{ question.questionType }}</td>
                      <td class="tui-table__td tui-table__td_last">
                        <button (click)="removeQuestion(question)">Убрать вопрос</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </tui-scrollbar>
              </div>

            </div>

            <div *ngIf="errorMessage">
              <p>{{ errorMessage }}</p>
            </div>

            <div *ngIf="!errorMessage">
              <h3>Средняя сложность - {{averageDifficulty}}</h3>
              <h3>Количество теоретических вопрсов - {{requiredTheoryCount}}</h3>
              <h3>Количество практических вопросов - {{requiredPracticalCount}}</h3>
            </div>

          </div>

        </div>

      </form>

    </div>

    <div class="bottom-container">
      <button type="button" tuiButton (click)="closeOverlay()">Отмена</button>
      <button type="button" tuiButton (click)="prevStep()" [disabled]="currentStep === 0">Назад</button>
      <button type="button" tuiButton (click)="nextStep()" [disabled]="currentStep === 2 || !form.valid">Далее</button>
      <button type="button" tuiButton (click)="filterQuestions()" [disabled]="currentStep !== 2">Подобрать вопросы</button>
      <button type="submit" tuiButton *ngIf="currentStep === 2" [disabled]="!form.valid" (click)="onSubmit()">Добавить</button>
    </div>

  </div>

</div>
