
<tui-loader
  class="loader"
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="loading">
  <div [formGroup]="form">
    <div formArrayName="choices" *ngFor="let choice of choices.controls; let i = index">
      <div [formGroupName]="i">
        <div *ngIf="choice.get('isFormula')?.value; else textInput">
          <div class="container">
            <input formControlName="isCorrect" type="checkbox" >
            <div [innerHTML]="renderMath( choice.get('text')?.value)"></div>
          </div>
        </div>
        <ng-template #textInput>
          <div class="container">
            <input formControlName="isCorrect" type="checkbox" />
            <div>{{ choice.get('text')?.value }}</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</tui-loader>
