<tui-loader
  class="loader"
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="loading">
  <div [formGroup]="form">
    <div formArrayName="matches" *ngFor="let match of matches.controls; let i = index">
      <div [formGroupName]="i">

        <div class="container">
          <div *ngIf="match.get('isFormula')?.value; else textInput">
            <div [innerHTML]="renderMath(match.get('text')?.value)"></div>
          </div>
          <ng-template #textInput>
            <div>{{ match.get('text')?.value }}</div>
          </ng-template>

          <div *ngIf="match.get('isMatchFormula')?.value; else matchTextInput">
            <select formControlName="matchText" aria-label="Выберите соответствие">
              <option *ngFor="let answerMatch of answerMatches"  [value]="answerMatch">
                <div [innerHTML]="renderMath(match.get('matchText')?.value)"></div>
              </option>
            </select>
          </div>
          <ng-template #matchTextInput>
            <select formControlName="matchText" aria-label="Выберите соответствие">
              <option *ngFor="let answerMatch of answerMatches"  [value]="answerMatch">{{ answerMatch }}</option>
            </select>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</tui-loader>
