<meta charset="utf-8">
<div class="container">
  <form [formGroup]="form">
    <div class="top-container">

      <tui-input
        formControlName="searchQuery"
        tuiTextfieldSize="m"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true" (input)="searchQuestions()">
        Введите наименование вопроса
      </tui-input>

    </div>
  </form>
  <div class="image-wrapper">

    <table tuiTable>
      <thead>
        <tr>
          <th class="tui-table__th tui-table__th_first">Наименование</th>
          <th class="tui-table__th">Сложность</th>
          <th class="tui-table__th">Тип</th>
          <th class="tui-table__th">Практ./Теор.</th>
          <th class="tui-table__th">Тема</th>
          <th class="tui-table__th">Дата создания</th>
          <th class="tui-table__th">Дата последнего изменения</th>
          <th class="tui-table__th tui-table__th_last">Ред./Удал.</th>
        </tr>
      </thead>
      <tbody>
      <tr class="tui-table__tr" *ngFor="let question of paginatedQuestions">
        <td class="tui-table__td tui-table__td_first">{{ question.questionName }}</td>
        <td class="tui-table__td">{{ question.difficulty }}</td>
        <td class="tui-table__td">{{ getAnswerTypeName(question.answersType) }}</td>
        <td class="tui-table__td">{{ getQuestionTypeName(question.questionType) }}</td>
        <td class="tui-table__td">{{ question.theme }}</td>
        <td class="tui-table__td">{{ question.creationDate | date:'medium' }}</td>
        <td class="tui-table__td">{{ question.lastChangeDate | date:'medium' }}</td>
        <td class="tui-table__td tui-table__td_last">
          <div class="two-column-container">
            <button appearance="icon"
                    icon="tuiIconEditLarge"
                    size="s"
                    tuiHint="Редактировать данный вопрос"
                    tuiHintDescribe
                    tuiHintDirection="left"
                    tuiIconButton
                    type="button" (click)="showEditOverlay(question.id)"></button>
            <button appearance="icon"
                    icon="tuiIconTrash2Large"
                    size="s"
                    tuiHint="Удалить данный вопрос"
                    tuiHintDescribe
                    tuiHintDirection="right"
                    tuiIconButton
                    type="button" (click)="deleteQuestion(question.id)"></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="bottom-container">
    <button tuiButton
            tuiHint="Добавить новый вопрос"
            tuiHintDescribe
            tuiHintDirection="top"
            (click)="showAddOverlay()">Добавить</button>
    <button tuiButton
            tuiHint="Обновить список вопросов"
            tuiHintDescribe
            tuiHintDirection="top"
            (click)="loadQuestions()">Обновить</button>
    <div class="pagination-container">
      <tui-pagination
        size="l"
        [index]="index"
        [length]="totalPages"
        (indexChange)="goToPage($event)"
      ></tui-pagination>
    </div>
  </div>
</div>

<questions-add-overlay
  [isVisible]="isAddOverlayVisible" (close)="hideAddOverlay()">
</questions-add-overlay>

<app-questions-edit-overlay
  *ngIf="selectedQuestionId !== null"
  [isVisible]="isEditOverlayVisible"
  [questionId]="selectedQuestionId"
  (close)="hideEditOverlay()">
</app-questions-edit-overlay>
