<meta charset="utf-8">
<div class="container">
  <form [formGroup]="form">
    <div class="top-container">

      <tui-input
        formControlName="searchQuery"
        tuiTextfieldSize="m"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true" (input)="searchTestsessions()">
        Введите наименование тестирования
      </tui-input>

    </div>
  </form>
  <div class="image-wrapper">
    <table class="tui-table">
      <tbody>
      <tr>
        <th class="tui-table__th tui-table__th_first">Наименование</th>
        <th class="tui-table__th">Время проведения</th>
        <th class="tui-table__th">Статус</th>
        <th class="tui-table__th">Дата создания</th>
        <th class="tui-table__th">Дата последнего изменения</th>
        <th class="tui-table__th tui-table__th_last">Рез./Ред./Удал.</th>
      </tr>
      </tbody>
      <tbody>
      <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let testsession of testsessions">
        <td class="tui-table__td tui-table__td_first">{{ testsession.testsessionName }}</td>
        <td class="tui-table__td">{{ testsession.startDate | date:'medium' }} - {{ testsession.endDate | date:'medium' }}</td>
        <td class="tui-table__td">{{ this.getTestsessionStatus(testsession) }}</td>
        <td class="tui-table__td">{{ testsession.creationDate | date:'medium' }}</td>
        <td class="tui-table__td">{{ testsession.lastChangeDate | date:'medium' }}</td>
        <td class="tui-table__td tui-table__td_last">
          <div class="three-column-container">
            <button appearance="icon"
                    icon="tuiIconShowLarge"
                    size="s"
                    tuiHint="Посмотреть результаты данного тестирования"
                    tuiHintDescribe
                    tuiHintDirection="left"
                    tuiIconButton
                    type="button" (click)="showViewOverlay(testsession)"></button>
            <button appearance="icon"
                    icon="tuiIconEditLarge"
                    size="s"
                    tuiHint="Редактировать данное тестирование"
                    tuiHintDescribe
                    tuiHintDirection="bottom"
                    tuiIconButton
                    type="button" (click)="showEditOverlay(testsession, tests)"></button>
            <button appearance="icon"
                    icon="tuiIconTrash2Large"
                    size="s"
                    tuiHint="Удалить данное тестирование"
                    tuiHintDescribe
                    tuiHintDirection="right"
                    tuiIconButton
                    type="button" (click)="deleteTestsession(testsession.id)"></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="bottom-container">
    <button tuiButton
            tuiHint="Добавить новое тестирование"
            tuiHintDescribe
            tuiHintDirection="top"
            (click)="showAddOverlay()">Добавить</button>
    <button tuiButton
            tuiHint="Обновить список тестирований"
            tuiHintDescribe
            tuiHintDirection="top"
            (click)="loadTestsession()">Обновить</button>
    <div class="pagination-container">
      <tui-pagination
        size="l"
        [index]="index"
        [length]="totalPages"
        (indexChange)="goToPage($event)"
      ></tui-pagination>
    </div>
  </div>
</div>

<app-testsession-add-overlay
  [isVisible]="isAddOverlayVisible"
  (close)="hideAddOverlay()">
</app-testsession-add-overlay>

<app-testsession-edit-overlay
  [testsession]="testsession"
  [tests]="tests"
  [isVisible]="isEditOverlayVisible" (close)="hideEditOverlay()">
</app-testsession-edit-overlay>

<app-testsession-view-overlay
  [testsession]="testsession"
  [isVisible]="isViewOverlayVisible" (close)="hideViewOverlay()">
</app-testsession-view-overlay>
